/*
    Document   : navbar (1).css
    Created on : 2015-04-20 08:11 PM
    Author     : Novark3
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
 root {
    display: block;
}